header {
    padding: 20px 50px;
    margin-top: -20px; 
    color: white; 
    width: 100vw;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header h1{
  padding: 5px; 
  font-size: 4.5em;
}