.img-container {
    margin: 20px auto 20px auto;
    padding: 10px;
    width: 95%;
    height: 130px;
}
.img-responsive {
    margin: 0 auto;
}
.img-thumbnail img {
    margin-right: 1px;    
    width: 50px;
    display: flex;
    height: 50px;
    cursor: pointer;
}
.img-thumbnail img:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
}
.img-thumbnail p {
    margin: 2px 0px 2px 0px;
}

