<div class="container">
  <h1>Crear un nuevo producto</h1>
  <form [formGroup]="productoForm" (ngSubmit)="onSubmit()" novalidate>
     <div class="form-group">
      <label class="center-block">SKU:</label>
      <input class="form-control" type="text" formControlName="sku">
    </div>
    <div class="form-group">
      <label class="center-block">Stock:</label>
      <input class="form-control" type="text" formControlName="stock">
    </div>
    <div class="form-group">
      <label class="center-block">Nombre:</label>
      <input class="form-control" type="text" formControlName="nombre">
    </div>
    <div class="form-group">
      <label class="center-block">Precio:</label>
      <input class="form-control" type="text" formControlName="precio">
    </div>
    <div class="form-group">
      <label class="center-block">Departamento:</label>
      <select class="form-control" formControlName="departamento">
        <option>Selecciona un departamento</option>
        <option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="center-block">Descuento:</label>
      <input class="form-control" type="text" formControlName="descuento">
    </div>
    <div class="form-group">
      <label class="center-block">Detalles:</label>
      <textarea rows="4" cols="150" formControlName="detalles"></textarea>
    </div>
     <div class="form-group">
      <label class="center-block">Imagen:</label>
      <input class="form-control" type="text" formControlName="imagen">
    </div>
    <h4>Imagenes</h4>
    <h5>Crear galeria de imagenes:</h5>
    <div formArrayName="imagenes" class="well well-lg">
      <div *ngFor="let imagen  of imagenes.controls; let i = index" [formGroupName]="i">
        <div style="margin-left:1em;">
          <div class="form-group">
            <label class="center-block">Url de la imagen {{ i+ 1 }}:
              <input class="form-control" formControlName="url">
            </label>
          </div>
         <div class="form-group">
            <label class="center-block">Descripcion:
              <input class="form-control" formControlName="descripcion">
            </label>
         </div>
          <div class="form-group">
            <label class="center-block">Titulo:
              <input class="form-control" formControlName="titulo">
            </label>
         </div>
        </div>
      <button  *ngIf="imagen"  type="button" class="btn btn-danger" (click)="removeImagenSelectedFromArray(imagen)">Remover imagen</button> 
      </div>
    <button type="button" class="btn btn-info" (click)="addNewImagenToArray()">Añadir imagen</button>         
    </div>
    <button class="btn btn-success" type="submit">Agregar Producto</button>
  </form>
</div>
{{ productoForm.value | json }}