<div class="container">
  <h1>Crear un nuevo producto</h1>
  <form [formGroup]="productoForm" (ngSubmit)="onSubmit()" novalidate>
     <div class="form-group">
      <label class="center-block">SKU:</label>
      <input placeholder="Clave (SKU) del producto" class="form-control" type="text" formControlName="sku">
    </div>
    <div class="form-group">
      <label class="center-block">Stock:</label>
      <input placeholder="Cantidad de producto" class="form-control" type="text" formControlName="stock">
    </div>
    <div class="form-group">
      <label class="center-block">Nombre:</label>
      <input placeholder="Nombre del producto" class="form-control" type="text" formControlName="nombre">
    </div>
    <div class="form-group">
      <label class="center-block">Precio:</label>
      <div class="input-group">
         <span class="input-group-addon">$</span>
         <input placeholder="Precio del producto" class="form-control" type="text" formControlName="precio">
         <span class="input-group-addon">.00</span>
      </div>
    </div>
    <div class="form-group">
      <label class="center-block">Departamento:</label>
      <select class="form-control" formControlName="departamento">
        <option>Selecciona un departamento</option>
        <option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="center-block">Descuento:</label>
      <div class="input-group">
         <span class="input-group-addon">%</span>
          <input placeholder="Cantidad del producto (Si existe)" class="form-control" type="text" formControlName="descuento">
      </div>
    </div>
     <div class="form-group">
      <label class="center-block">Imagen:</label>
      <input placeholder="Url de la imagen" class="form-control" type="text" formControlName="imagen">
    </div>
     <div class="form-group">
      <label class="center-block">Marca:</label>
      <input placeholder="Marca Comercial del producto" class="form-control" type="text" formControlName="marca">
    </div>
    <h4>Imagenes</h4>
    <h5>Crear galeria de imagenes:</h5>
    <div formArrayName="imagenes" class="well well-lg">
      <div style="margin-bottom: 1em;" *ngFor="let imagen  of imagenes.controls; let i = index" [formGroupName]="i">
        <div style="margin-left:1em;">
          <div class="form-group">
            <label class="center-block">Url de la imagen {{ i+ 1 }}:
              <input placeholder="Url de la imagen" class="form-control" formControlName="url">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">Titulo:
              <input placeholder="Titulo de la imagen" class="form-control" formControlName="titulo">
            </label>
         </div> 
         <div class="form-group">
            <label class="center-block">Descripcion:
              <input placeholder="Descripcion de la imagen" class="form-control" formControlName="descripcion">
            </label>
         </div>
        </div>
      <button  *ngIf="imagen"  type="button" class="btn btn-danger pull" (click)="removeImagenSelectedFromArray(imagen)">Remover</button> 
      </div>
    <button type="button" class="btn btn-info" (click)="addNewImagenToArray()">Nueva imagen</button>         
    </div>
    <h4>Especificiaciones</h4>
    <h5>Crear lista de especificaciones:</h5>
    <div formArrayName="specs" class="well well-lg">
      <div  style="margin-bottom: 1em;" *ngFor="let spec of specs.controls; let i = index" [formGroupName]="i">
        <div style="margin-left:1em;">
          <div class="form-group">
            <label class="center-block">Nombre especificacion #{{ i+ 1 }}:
              <input class="form-control" formControlName="nombre">
            </label>
          </div>
         <div class="form-group">
            <label class="center-block">Descripcion especificacion:
              <textarea placeholder="Lol" rows="4" class="form-control" formControlName="descripcion"></textarea>
            </label>
         </div>
        </div>
      <button  *ngIf="spec"  type="button" class="btn btn-danger pull" (click)="rmSpecSelectedFromArray(spec)">Remover</button> 
      </div>
      <button type="button" class="btn btn-info" (click)="addSpecToFormArray()">Nueva especificacion</button>         
    </div>
    <div class="form-group">
      <label class="center-block">Descripcion:</label>
      <textarea rows="7" class="form-control" formControlName="descripcion"></textarea>
    </div>
    <button [ngClass]="{ disabled : !productoForm.valid }" class="btn btn-success" [disabled]="!productoForm.valid" type="submit">Agregar Producto</button>
  </form>
</div>
{{ productoForm.value | json }}
{{ productoForm.status | json }}