.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.pull {
  float: right;
  position: relative;
}
.lol {
  z-index: 1001;
  padding: 20px;
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: 20vh;
  left: 20vw;
  right: 20vw;
  bottom: 20vh;
  overflow-y: scroll;
  background: whitesmoke;
}