.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.pull {
  float: right;
  position: relative;
}
.pop-up-form {
  z-index: 1001;
  padding: 10px 50px;
  position: absolute;
  width: 60vw;
  height: 70vh;
  top: 10vh;
  left: 20vw;
  right: 20vw;
  bottom: 20vh;
  overflow-y: scroll;
  background: whitesmoke;
}
.btn-close{
  margin-top: 50px;
  top: 50px;
  right: 50px;
  position: absolute;
}