<app-parallax *ngIf="departamento" [departamento-details]="departamento"></app-parallax>
<app-loader *ngIf="!ListOfProducts"></app-loader>
<div *ngIf="ListOfProducts">
  <form class="form">
    <div class="form-group">
      <select  class="form-control" #departamento (change)="filterProductsPerDepartment(departamento.value)">
        <option value="">Seleciona un departamento</option>
        <option *ngFor="let departamento of departamentos" value="{{ departamento.nombre }}">{{ departamento.nombre }}</option>
     </select> 
    </div>
  </form>
  <searchbox (update) = "term = $event"></searchbox>
  <md-card class="example-card" *ngFor="let producto of ListOfProducts | filter:term">
    <md-card-header>
      <md-card-title><h3>{{ producto.nombre }}</h3></md-card-title>
      <md-card-subtitle><h4>{{ producto.marca }}</h4></md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{ producto.imagen }}" alt="{{ producto.detalles }}">
    <md-card-content>
      <p>
        {{ producto.descripcion }}
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button type="button" (click)="delete()">Eliminar Producto</button>
      <button md-button  type="button" (click)="OnSelectedProduct(producto)">Detalles</button>
    </md-card-actions>
  </md-card>
</div>
