<div class="container">
  <div [hidden]="submitted">
    <h1>Contacto</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre "
               required
               [(ngModel)]="model.nombre" name="nombre"
               #nombre="ngModel"
               autoGrow>
        <div [hidden]="nombre.valid || nombre.pristine"
             class="alert alert-danger">
          Nombre es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="pais">¿De dónde nos visitas?</label>
        <select class="form-control" id="pais"
                required
                [(ngModel)]="model.pais" name="pais"
                #pais="ngModel">
          <option *ngFor="let pais of paises" [value]="pais.name">{{ pais.name }}</option>
        </select>
        <div [hidden]="pais.valid || pais.pristine" class="alert alert-danger">
          Es requerido ingresar un pais
        </div>
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <textarea cols="5" rows="5" class="form-control" id="mensaje"
               [(ngModel)]="model.mensaje" name="mensaje">
        </textarea>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Enviar Mensaje</button>
      <button type="button" class="btn btn-info" (click)="nuevoMensaje(); heroForm.reset()">Nuevo Mensaje</button>
    </form>
  </div>
  <div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Nombre</div>
    <div class="col-xs-9  pull-left">{{ model.nombre }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">País</div>
    <div class="col-xs-9 pull-left">{{ model.pais }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Mensaje</div>
    <div class="col-xs-9 pull-left">{{ model.mensaje }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
  </div>