<div class="container">
 <h1>Producto Form</h1>
 <form [formGroup]="heroForm" (ngSubmit)="onSubmit()" novalidate>
   <div class="form-group">
     <label class="center-block">Name:</label>
       <input class="form-control" formControlName="name">
   </div>
   <div  formArrayName="secretLairs" class="well well-lg">
     <div *ngFor="let address of secretLairs.controls; let i = index" [formGroupName]="i">
       <h4>Address #{{i + 1}}</h4>
        <div style="margin-left: 1em;">
          <div class="form-group">
            <label class="center-block">Street:
              <input class="form-control" formControlName="street">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">City:
              <input class="form-control" formControlName="city">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">State:
              <select class="form-control" formControlName="state">
                <option *ngFor="let state of states" [value]="state">{{state}}</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">Zip Code:
              <input class="form-control" formControlName="zip">
            </label>
          </div>
        </div>
        <br>
        <div class="form-control">
          <button type="button" (click)="removeLair(address)">Eliminar Direccion</button>
        </div>
     </div>
   </div>
   <div class="form-group">
     <label class="center-block">Power:</label>
       <input class="form-control" formControlName="power">
   </div>
   <div class="form-group">
     <label class="center-block">Sidekick:</label>
       <input class="form-control" formControlName="sidekick">
   </div>
   <div class="form-group">
    <label>Super power:</label>
      <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
      <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
      <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
  </div>
  <div style="margin-bottom: 1em">
      <button type="submit"
              [disabled]="heroForm.pristine" class="btn btn-success">Save</button>
      <button type="reset" (click)="revert()"
              [disabled]="heroForm.pristine" class="btn btn-danger">Revert</button>
  </div>
    <button (click)="addLair()" type="button">Add a Secret Lair</button>
 </form>
</div>
{{ heroForm.value | json }}