<div class="container">
<h1>Products</h1>
    <div class="row">
        <div *ngFor="let product of products" class="col-md-4 col-xs-6 col-sm-4 col-lg-3">
            <img style=" width: 400px; height: 400px;"  class="img-responsive" src="{{ product.imagen }}" alt=""> 
            <div>
                   {{ product.nombre }}
            </div>
            <div>
                   {{ product.marca }}
            </div>
            <div>
                   {{ product.precio }}
            </div>
        </div>

    </div>
</div>