<div *ngIf="producto" class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
                <img class="img img-responsive" src="{{ producto.imagen }}" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                <h1>{{ producto.nombre }}</h1>
                <p>{{ producto.detalles }}</p>
                <p>{{ producto.caracteristicas.descripcion }}</p>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let object of producto.caracteristicas">
            {{ object.descripcion }}
            <div *ngFor="let url of object.imagenes">
                <img src="{{ url.imagen }}" alt="">
            </div>
        </div>
    </div>
</div>