<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Angular" src="../favicon.ico"> 
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let navroute of navigationRoutes" ><a routerLink="{{ navroute.route }}"> <i [class]="navroute.icon"></i>  {{ navroute.title }}</a></li>
      </ul>
    </div>
  </div>
</nav>
